body, html {
    height: 100%;
    }
    .bg {
    background-image: url("https://images6.alphacoders.com/346/346199.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }